<!-- <div>
  <p ng-show=main.user></p>
  <div ng-hide='main.user'>
    <p>Login, to Play Fantasy Golf </p>
    <button ng-click='main.login()' class='btn-primary'>Login with Facebook</button>
  </div>

  <div ng-show='main.user'>
    <p>Welcome back, {{main.user.facebook.displayName}}</p>

  </div>
</div> -->

<div>
  <p ng-hide='false'>Click to log in</p>
  <button ng-click='main.login()' ng-show='true'>Login</button>
  <div ng-show='true'>
    <p>{{main.authData.facebook.displayName}}</p>
  </div>


</div>
