.players{
  float:left
}

.random{
  float:right;
}

.btn{
  margin-left:1em;
}

li{
  list-style-type:none;
  margin-bottom:10px;
  line-height:2.5em;
}

p{
  line-height:2.5em;
}

.team{
  margin-right:40em;
}

a{
  cursor:pointer;
}
